.times{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 50px;
}
.heure{
  font-size: 20px;
  color: #A5AEB5;
  margin-top: -40px;
}
.minute{
  font-size: 20px;
  color: #A5AEB5;
  padding: 0 10px;
  margin-top: -40px;
}
.seconde{
  font-size: 20px;
  color: #A5AEB5;
  margin-top: -40px;
}